.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
  /* Make it occupy the whole screen with just a tiny gap */
  box-sizing: border-box;
  background-color: #d1cbc8;
  /* matches the outer border shadow in ref */
  overflow: hidden;
}